.vega-embed {
  height: 100vh;
  width: 100vw;
  display: flex !important;
  flex-direction: column-reverse;
}
.vega-bindings{
  height: 20px;
  display: flex;
  flex-direction: row;
}
.test{
  height: 100vh;
}
.svgIcon{
  top: .125em;
  position: relative;
}
.legendItem{
  padding-right: 15px;
  white-space: nowrap;
}
.raceSelect{
  cursor: pointer;
  border-bottom: 2px solid black;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
.raceSelectDropdown{
  font-size: inherit;
  display: flex;
  flex-direction: column;
}
.raceSelectDropownButton {
  cursor: pointer;
  padding: 5px;
}
.raceSelectDropownButton:hover {
  background-color: #F2F2F2;
}

.testarosta{
  width: 100% !important;
  display:block;
  overflow: auto;
}
.dashFooter{
  width: 100% !important;
}
.testarosta tr td{
  color: rgb(0, 0, 0) !important;
}

.testarosta tr th{
  color: rgb(0, 0, 0) !important;
}

.testarosta tr th:nth-child(3){ 
    width:8%;
}
.testarosta tr td:nth-child(3){
    width:8%;
}
.testarosta tr th:nth-child(1){
    width:5%;
}
.testarosta tr td:nth-child(1){
    width:5%;
}
.testarosta tr th:nth-child(4){
    width:10%;
}
.noLeftPad {
  padding-left: 0px !important;
}
.testarosta tr td:nth-child(4){
    width:10%;
}
.testarosta tr th:nth-child(5){
    width:12%;
}
.testarosta tr td:nth-child(5){
    width:12%;
}
.testarosta tr th:nth-child(6){
    width:17%;
}
.testarosta tr td:nth-child(6){
    width:17%;
}
.testarosta tr th:nth-child(7){
    width:8%;
}
.testarosta tr td:nth-child(7){
    width:8%;
}
.dashFooter tr td:nth-child(1){
  width: 30%;
}
.dashFooter tr td:nth-child(2){
  width: 20%;
}

body {
/*  background-color: #FFFFF3; */
  height: 100vh;
  display: block
}
.vega-embed details{
  display:hidden !important;
}

.root{
  height:100vh;
  width: 100vw;
}